body {
    font-weight: 100;
    color: lightslategrey;
}

.wrapper {
    display: grid;
    grid-template-columns: 35%, auto, 35%;
    grid-auto-flow: column;
}

.boxP1 {
    background: #f0f0f0;
    width: 50vw;
    height: 100vh;
}

.boxP2 {
    background: #ffffff;
    width: 50vw;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    font-size: 40px;
}

.tableGame {
   
    top: 10%;
    align-self: center;
}

.player {
    display: flex;
    justify-content: space-between;
    width: 20%;
    min-width: 230px;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.score {
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: rgb(243, 17, 66);
}

.point {
    
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: rgb(243, 17, 66);;
    padding-right: 20px;
    padding-left: 20px;
}

.current {
    display: flex;
    justify-content: center;
    font-size: 0.6em;
}

.currentScore {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
}

.btnNewGame {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 5%;
    justify-content: center;
}

.btnRollHold {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    
}
.dice  > img {
    box-sizing: content-box;
}
.dice {
    height: 20%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.material-symbols-outlined {
    align-self: center;
    color: rgb(243, 17, 66);
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48;
}

.circle {
    font-size: 1em;
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48;
    
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    .boxP1 {
        background: #f0f0f0;
        width: 50vw;
    }
    .boxP2 {
        background: #ffffff;
        width: 50vw;
    }
    
    .board {
        font-size: 15px;
    }
    .player {
        margin-left: 10px;
        min-width: 110px;
    }
    
}